# swarm (Upstart unit)
description "{{ swarm_description }}"

start on stopped rc RUNLEVEL=[2345]
stop on runlevel [06]

script
exec >> {{ swarm_log }} 2>&1
su - {{ jenkins_user }} -c 'java -jar {{ swarm_jar }} -master {{ swarm_master }} -name {{ swarm_name }} -executors {{ swarm_executors }} -mode {{ swarm_mode }} -labels "{{ swarm_labels }}" -retry {{ swarm_retry }} -description "{{ swarm_description }}"'
end script

respawn
respawn limit 10 10
kill timeout 10
